# Python
venv/
.venv/
__pycache__/
*.py[cod]

# Environment
.env
.env.*

# Dataset
archive/

# ML model files
*.pth
*.pt
*.onnx
*.ckpt

# Frontend
node_modules/
dist/
build/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db